@model Mavo.Assets.Models.ViewModel.PickAJobModel

@if (!Model.PickStarted.HasValue)
{
    <div class="well" id="beginPicking">
        <a href="#startModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Begin Picking</a>
    </div>
    <div id="startModal" class="modal show fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-show="true">
        <div class="modal-header">
            <h3 id="myModalLabel">Start Picking?</h3>
        </div>
        <div class="modal-body">
            <p>Would you like to start picking this job?</p>
        </div>
        <div class="modal-footer">
            <button id="btnStartPicking" class="btn btn-primary">Start Picking</button>
        </div>
    </div>
}
<div class="alert alert-info @(!Model.PickStarted.HasValue ? "hide" : "")" id="pickupTimeDiv">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Job Picking!</strong> This job started being picked up at <span id="pickupTime">@(Model.PickStarted.HasValue ? Model.PickStarted.Value.ToString() : "")</span>
</div>