@using Mavo.Assets;
@model Mavo.Assets.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>
@using (Html.BeginForm(MVC.Account.Register(), FormMethod.Post, new { @class = "form form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Registration Form</legend>
        @{Html.RenderPartial("_RegistrationForm");}
        <input type="submit" class="btn" value="Register" />
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
