@model System.DateTime?
<div class="input-prepend">
    <span class="add-on"><i class="icon-calendar"></i></span>
    @Html.TextBox("", String.Format("{0:MM/dd/yyyy}", (Model == DateTime.MinValue) ? null : Model), new { @class = "text date input-small" })
</div>

