@model System.DateTime?
<div class="input-prepend">
    <span class="add-on"><i class="icon-calendar"></i></span>
    @Html.TextBox("", !Model.HasValue ? null : (Model.Value.TimeOfDay.Hours > 0 ? Model.ToString() : Model.Value.ToShortDateString()) , new { @class = "text date" })
</div>

