@model IEnumerable<Mavo.Assets.Models.AssetActivity>

<h2>AssetHistory</h2>

@using (Html.BeginForm("AssetHistoryFilter", "Reporting"))
{
    @Html.TextBox("Id",null, new { placeholder = "barcode" })
    @Html.DropDownList("userId", ((IList<Mavo.Assets.Models.User>)ViewBag.Users).Select(x => new SelectListItem() { Text = x.FullName, Value = x.Id.ToString() }), "User")
    <span class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            @Html.TextBox("startDate", null, new { @class = "text date" })
        </span>
        <span>-</span>
        <span class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            @Html.TextBox("endDate", null, new { @class = "text date" })
        </span>
    <input type="submit" class="btn btn-primary"  value="Search"/>
}

@{Html.RenderPartial("_AssetHistoryResults", Model);}
