@model Mavo.Assets.Models.ViewModel.EditJobPostModel

@if (null != Model && Model.Id.HasValue)
{
    <div class="tab-pane" id="billingRequestForm">
        <div class="row-fluid">
            <div class="span12 well">
                <h4>Billing Request Form</h4>
            </div>
        </div>
    </div>
}