@model Mavo.Assets.Models.ViewModel.EditJobPostModel

@if (null != Model && Model.Id.HasValue)
{
    <div class="tab-pane @(Model.Status == Mavo.Assets.Models.JobStatus.New || Model.Status == Mavo.Assets.Models.JobStatus.ReadyToPick ? "active" : "")" id="assets">
        @if (!Model.IsAddon && Model.Status == Mavo.Assets.Models.JobStatus.New || Model.Status == Mavo.Assets.Models.JobStatus.ReadyToPick)
        {
        <div class="row-fluid noprint">
            <div class="well">
                <h4>Template</h4>
                @Html.DropDownList("TemplateId", ((IList<Mavo.Assets.Models.Template>)ViewBag.Templates).Select(x => new SelectListItem()
       {
           Value = x.Id.ToString(),
           Text = x.Name,
           Selected = Model == null || (ViewBag.TemplateId != null && ViewBag.TemplateId.HasValue) ? false : x.Id == ViewBag.TemplateId
       }), string.Empty)
                @if (Model != null)
                {
                    <a href="#" id="btnAddFromTemplate" class="btn btn-success">Add Items from Template</a>
                }
            </div>
        </div>
        }
        @if (!(Model.Status == Mavo.Assets.Models.JobStatus.New || Model.Status == Mavo.Assets.Models.JobStatus.ReadyToPick))
        {
        <div class="alert alert-info">
            This is the list of assets as specified by the project manager. To see the which items were picked, look at the Status tab. 
        </div>
        }
        <div class="row-fluid">
            <div class="span12 well">
                <h4>Job Assets</h4>
                @{Html.RenderAction(MVC.Asset.AssetPickerForJob(Model.Id.Value));}
            </div>
        </div>
    </div>
}