@model Mavo.Assets.Models.ViewModel.JobReportViewModel

<div class="row-fluid">
    <div class="span6">
        <h2>Ready to pick today</h2>
        @{Html.RenderPartial("_ReadyJob", Model.ReadyToPick);}
    </div>
    <div class="span6">
        <h2>Ready to return today</h2>
        @{Html.RenderPartial("_ReadyJob", Model.ReadyToReturn);}
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <h2>Jobs we already picked today</h2>
        @{Html.RenderPartial("_ReadyJob", Model.PickedToday);}
    </div>
    <div class="span6">
        <h2>Jobs we already returned today</h2>
        @{Html.RenderPartial("_ReadyJob", Model.ReturnedToday);}
    </div>
</div>