
body > .container-fluid > .row-fluid > .span9 { width: inherit; }

.span3.leftNav {display: none;}

.navbar, .h1, .alert, .sidebar-nav, .add-on, .noprint, #job-tabs, .btn, .form-actions, #barcodeInput,
#returnAsDamagedLabel
{
    /* needs to override more specific selectors for row-fluids and such*/
    display: none !important;
    width: 0 !important;    
    height: 0 !important;
}

.leftNav {
    float: none !important;
}

#map
{
    page-break-before: always;
}

input[type="text"], input[type="number"], select, textarea, .well, .input-append .add-on, .input-prepend .add-on {
    border: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 !important;
    font-size: 10px;
    line-height: 16px;    
    height: inherit;
}

.radio, .checkbox {
    min-height: inherit;    
}

form {
    margin: 0;
}

hr {
    margin: 5px 0;
}

.form-horizontal .control-label {
    width: 120px;
}

.form-horizontal .controls {
    margin-left: 140px;
}

.well {
    padding: 5px !important;
    margin: 0 !important;
}

.control-group {
    margin-bottom: 0px !important;
}

h4 {
    font-size: 14px;
    margin: 5px 0;
}

label { 
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 10px;
    line-height: 16px;
}

body 
{
    padding-top: 0 !important;
}

/*.leftNav + .span9 { margin-left: 0; }*/