@model Mavo.Assets.Models.ViewModel.SearchResult
<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Jobs By Status</li>
            <li><a href="/job?status=0">New</a></li>
            <li><a href="/job?status=1">Started</a></li>
            <li><a href="/job?status=2">Completed</a></li>
            <li><a href="/job?status=3">Ready To Pick</a></li>
        </ul>
        <ul class="nav nav-list">
            <li class="nav-header">Jobs By Customer</li>
            @foreach (var item in ViewBag.Customers)
            {
            <li><a href="/job?customerId=@item.Id">@item.Name</a></li>
            }
        </ul>
        <ul class="nav nav-list">
            <li class="nav-header">Jobs By Manager</li>
            @foreach (var item in ViewBag.ProjectManagers)
            {
            <li><a href="/job?projectManagerId=@item.Id">@item.FullName</a></li>
            }
        </ul>
    </div>
</div>
