@model Mavo.Assets.Models.ViewModel.EditJobPostModel
@{ ViewBag.Title = "Create Picklist :: " + Model.Name; }

@section scripts {
    <script type="text/javascript">
        jQuery(function ($) {
        });
    </script>
}

@section LeftNav
{
    @{Html.RenderPartial(MVC.Job.Views._JobSidebar, new Mavo.Assets.Models.ViewModel.SearchResult());}
}

<form method="post">

    <h2>
        @if (null != Model)
    {
        <span>
            @if (!String.IsNullOrEmpty(Model.JobNumber))
            {
                <text>#</text>@(Model.JobNumber)
            }
            @Model.Name
        </span>
        if (Model.IsAddon)
        {
            <span class="label label-info"><i class="icon-plus-sign icon-white"></i></span>
        }
        <div class="pull-right btn-group">
            <a class="btn" href="#" onclick="window.print()"><i class="icon-print"></i> Print</a>
        </div>
    }
</h2>

@{ Html.RenderPartial("Tabs\\_Sheet", Model); }

<div class="row-fluid">
    <div class="span12">
        <div class="well">
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    </div>
</div>

</form>