<table id="asset-table" class="table table-striped">
    <thead>
        <tr>
            <th>Mavo Item Number</th>
            <th>Asset</th>
            <th>Quantity</th>
            @if (!(ViewBag.Lock != null && ViewBag.Lock))
            {
            <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Assets != null)
        {
            foreach (Mavo.Assets.Models.AssetWithQuantity asset in ViewBag.Assets)
            {
                Html.RenderPartial(MVC.Asset.Views._AssetRow, asset);
            }
        }
    </tbody>
</table>
