<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Actions</li>
            <li class='@(Url.RequestContext.RouteData.Values["action"].ToString().ToLower() == "create" ? "active" : "")'><a href="/asset/create"><i class="icon-plus"></i> Create New Asset</a></li>
            <li class='@(Url.RequestContext.RouteData.Values["action"].ToString().ToLower() == "scan" ? "active" : "")'><a href="/asset/scan"><i class="icon-barcode"></i> Scan new item</a></li>
            <li class="nav-header">Assets by Category</li>
            @foreach (var item in ViewBag.AssetCategories)
            {
            <li><a href="#">@item.Name</a></li>
            }
        </ul>
    </div>
</div>
