@model IList<Mavo.Assets.Models.AssetCategory>
@if (!(ViewBag.Lock != null && ViewBag.Lock))
{
    <select id="asset-category">
        @foreach (var category in Model)
        {
            <option  value="@category.Id">@category.Name</option>
        }
    </select>

    <span id="asset-detail">
        @{Html.RenderAction("AssetPickerDetail","Asset", new { id = Model.First().Id });}
    </span>
    <button class="btn" id="add-asset">Add</button>
}

<div id="asset-container">
    @{Html.RenderPartial(MVC.Asset.Views._AssetTable);}
</div>
@if (!(ViewBag.Lock != null && ViewBag.Lock))
{
    <script>
        var idSpecifier = '@(ViewBag.IsForJob ? String.Format("jobId={0}", ViewBag.JobId ?? 0) : String.Format("templateId={0}", ViewBag.TemplateId))';
        function removeRow(assetId) {
            $('#row-' + assetId).remove();
            $.post('/asset/removeasset/' + assetId + '?' + idSpecifier);
            return false;
        }
        function updateQuantity(assetId, quantity) {
            if (0 == quantity || !quantity) {
                return removeRow(assetId);
            }
            $.post('/asset/updatequantity@(ViewBag.IsForJob ? "" : "fortemplate")/' + assetId + '?quantity=' + quantity);
        $('#asset-table #row-' + assetId + ' .btn-primary').css('visibility', 'hidden');
    }
    jQuery(function ($) {

        $('#asset-category').change(function () {
            $.get('/asset/assetpickerdetail/' + $(this).val(), function (data) {
                $('#asset-detail').html(data)
            });
        });

        $('#add-asset').click(function () {
            $.post('/asset/addasset/' + $('#asset-value').val() + '?' + idSpecifier, function (data) {
                var $row = $("#asset-table tr[data-asset-id='" + $('#asset-value').val() + "']");
                if ($row.length > 0) {
                    $row.replaceWith(data);
                }
                else {
                    $('#asset-table > tbody:last').append(data);
                }
            });
            return false;
        });

        $('#asset-table input.quantity').live('keydown change', function () {
            $(this).closest('tr').find('.btn-primary').css('visibility', 'visible');
        });
    });

    </script>
}

