@{
    ViewBag.Host = "http://" + Request.Url.Host + (Request.Url.Port > 0 ? ":" + Request.Url.Port.ToString() : "") + "/"; 
}
@section Title
{
    <text>Job @ViewBag.Job.JobNumber is ready to be picked.</text>
}

<p align="left" class="article-title">Job Details</p>
<div align="left" class="article-content">
    @{Html.RenderPartial("_JobHeader");}
    <p><a href="@ViewBag.Host/jobpicker/index/@ViewBag.Job.Id">Click here</a> to pick the job.</p>
</div>
